spring:

  datasource:
    url: jdbc:mysql://${DATABASE_URL}:${DATABASE_PORT}/${DATABASE_NAME}?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 50MB
      location: /tmp/upload   # 임시 디렉토리

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
        jdbc:
          time_zone: Asia/Seoul


  data:
    redis:
      repositories:
        enabled: false
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      lettuce:
        pool:
          enabled: true
          max-active: 16
          max-idle: 16
          min-idle: 4
        shutdown-timeout: 100ms
      timeout: 10000ms

  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
    default-encoding: UTF-8

  sql:
    init:
      mode: never

  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 0
    locations: classpath:db/migration

app:
  file:
    upload-dir: ${user.dir}/uploads/files
  image:
    storage:
      local:
        base-path: ${user.dir}/uploads/files
        url-prefix: /static/profile
  server:
    url: ${APP_SERVER_URL:http://localhost}

file:
  upload:
    dir: ${FILE_UPLOAD_DIR:./uploads/files}
    max-size: 10485760  # 10MB

regex:
  email: '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$'
  password: '^(?=.*[A-Za-z])(?=.*\d).{8,}$'


security:
  jwt:
    secret: ${JWT_SECRET}
    access-token-expire-time: ${JWT_ACCESS_TOKEN_EXPIRATION_TIME}
    refresh-token-expire-time: ${JWT_REFRESH_TOKEN_EXPIRATION_TIME}
  aes:
    encryption-key: ${ENCRYPTION_KEY}
    iv: ${ENCRYPTION_IV:defaultIvParam456}

logging:
  level:
    root: INFO
    com.mzc.backend.lms.domains.enrollment: DEBUG
    com.mzc.backend.lms.domains.course.course: DEBUG
    com.mzc.backend.lms.domains.notification: DEBUG

email:
  from: ${MAIL_FROM:${MAIL_USERNAME}}
  from-name: ${MAIL_FROM_NAME:LMS System}
