spring:

  datasource:
    url: jdbc:mysql://${DATABASE_URL}:${DATABASE_PORT}/${DATABASE_NAME}?useSSL=false&serverTimezone=seoul
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
    jdbc:
      time_zone: Asia/Seoul

    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.MySQL8Dialect

  data:
    redis:
      repositories:
        enabled: false
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  sql:
    init:
      mode: never

regex:
  email: '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$'
  password: '^(?=.*[A-Za-z])(?=.*\d).{8,}$'


security:
  jwt:
    secret: ${JWT_SECRET}
    access-token-expire-time: ${JWT_ACCESS_TOKEN_EXPIRATION_TIME}
    refresh-token-expire-time: ${JWT_REFRESH_TOKEN_EXPIRATION_TIME}
  aes:
    encryption-key: default-aes-encryption-key-change-in-production

logging:
  level:
    root: info



